<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfig</key>
	<dict>
		<key>ParseEndpoint</key>
		<string>http://lowcost-env.pcwzrxfsmz.us-east-1.elasticbeanstalk.com/parse-nyt</string>
		<key>SettingsAutoNavText</key>
		<string>Auto navigate to next post after reading</string>
		<key>CoreDataModelName</key>
		<string>NewsReader</string>
		<key>ShowCategorySelection</key>
		<true/>
		<key>OnboardingCompleteText</key>
		<string>That&apos;s it for the tutorial! Let&apos;s choose your categories and then you&apos;ll be good to go!</string>
		<key>CommentsEnabled</key>
		<false/>
		<key>OnboardingDetailExplanation</key>
		<string>News Reader tries to pull any text it can from a post. If it is unable to it will tell you so. We will skip this content for now and finish on boarding. Double tap to go back.</string>
		<key>OnboardingOpening</key>
		<string>Thanks for checking out News Reader the first news client that reads itself to you. Since this is a different sort of app concept, let&apos;s do a quick tutorial</string>
		<key>ReadableName</key>
		<string>News Reader</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>b2fa13da961943ada093ca86282c0717d8d6c662</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
